// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: rgb(247, 243, 243);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.delete-btn{
    appearance: none;
    background: none;
    color: red;
    position: absolute;
    right: 10px;
    border: none;
}

// .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
//     color: rgb(28, 238, 9) !important;
// }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(9, 136, 240, 0.7) !important;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 16;
    color: rgba(0,0,0,.5);
    font-weight: bold;
}

span.btn-span{
position: absolute;
right: 15px;
bottom: 5px;
}

span.btn-span span:first-child{
    margin-right: 15px;
}

span.update-product{
    font-weight: bold;
    color: rgb(13, 112, 226);
    text-decoration: underline;
}

span.btn-span span:first-child a{
    color: rgb(117, 231, 117);
}

span.btn-span span:last-child a{
    color: rgb(238, 105, 122);
}

a.remove_option{
    color: rgb(238, 105, 122);
}

a.activate-image-upload{

}

a.activate-image-upload:hover{

   }
.card-image-upload i{
 font-size: 6rem;
 color: rgb(41, 240, 107);
}

a.remove-image-upload i{
    font-size: 2rem;
    position: absolute;
    top: 5px;
    right: 5px;
    color: rgb(236, 85, 85);
    z-index: 99999;
    //display: none;
}

input.file-image-upload{
    display: none;
}
